.EmojinateForm {
  align-items: flex-end;
  display: grid;
  gap: 2rem;
  grid-column: normal;
  grid-template:
    "emoji "
    "space "
    "text  "
    "submit"
  /  1fr   ;

  @include media(sm) {
    grid-template:
      "emoji  space "
      "text   submit"
    /  1fr    1fr   ;
  }

  @include media(md) {
    grid-template:
      "emoji space text submit"
    /  1fr   1fr   1fr  auto  ;
  }

  &_emoji {
    grid-area: emoji;
  }

  &_space {
    grid-area: space;
  }

  &_text {
    grid-area: text;
  }

  &_submit {
    grid-area: submit;
  }
}
