* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  min-height: 100%;
}

body {
  color: black;
  flex-grow: 1;
  flex-shrink: 0;
  font-family: $sans;
  font-size: 1.6rem;
  line-height: 1.414;
  overflow-y: scroll;
}